@model Techchef_2.Models.Root




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data.email)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.data.email)
        </td>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
       
        
    </tr>
}*@

</table>
